html{
background-color: #f9df68;

}


header{
    border: 6px ridge #425f6d;
}


h1{
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    color:#010e14;
}

ul{
    /* border: 5px black solid; */
    display: flex;
    justify-content: space-evenly;
    font-size: medium;

}
    

    



img{
    width: 20%;
}